* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#nameText {
    display: flex;
    gap: 20px;
}

#passText {
    display: flex;
    gap: 20px;
}

#passTextCheck {
    display: flex;
    gap: 20px;
}

#mailText {
    display: flex;
    gap: 20px;
}

/* #nameText>div:nth-child(2){
    background-color: red;
    width: 30px;
    height: 30px;
  } */